CRIANDO TUPLAS

In [1]:
#tupla com parênteses
tupla_numeros = (10,20,30)
tupla_numeros

(10, 20, 30)

In [2]:
#tupla sem parênteses
tupla_nova = 10, 20, 30
tupla_nova

(10, 20, 30)

In [3]:
#tupla com apenas um elemento
tupla_elementos = 10,
tupla_elementos

(10,)

In [4]:
#tupla vazia
tupla_vazia = ()
tupla_vazia

()

In [5]:
#função tuple
nova_tupla = tuple('Rebeca')
nova_tupla

('R', 'e', 'b', 'e', 'c', 'a')

CONTANDO ELEMENTOS DE TUPLA

In [6]:
tupla_nomes = ('Marlene', 'Zezinho', 'Marlene', 'Cibele', 'Zuely')
tupla_nomes.count('Marlene')

2

In [7]:
print(tupla_nomes.count('Suely'))
print(tupla_nomes.count('Zezinho'))

0
1

1 - Cria uma tupla com os seguintes elementos: 1,2,2,3,4,4,4,5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla.

In [8]:
tupla_num = (1,2,2,3,4,4,4,5)
print(tupla_num.count(4))

3

In [9]:
tupla_num.count(4)

3

DICIONÁRIO (MAPS) EM PYTHON

In [10]:
#criando dicionário
dicio = {'chave': 'valor'}

In [11]:
print(type(dicio))

<class 'dict'>

PRATICAR DICIONÁRIO

1- O que acontece em cada sequência de comandos a seguir?
(a)

In [12]:
#definindo os valores no dicionário
d = {'laranjas':15,'bananas':35,'siriguelas':12}

In [13]:
#buscar o valor através da chave
d['bananas']

35

In [14]:
# 1- O que acontece em cada sequência de comandos a seguir?
# b)
d['pitomba'] = 20

In [15]:
#verificando quantos elementos em 'd' tem no dicionário
len(d)

4

In [16]:
#exbindo o dicionário na tela
d

{'laranjas': 15, 'bananas': 35, 'siriguelas': 12, 'pitomba': 20}

1- O que acontece em cada sequência de comandos a seguir?
(c)

In [17]:
#verificando se 'pitomba' está em 'd'
'pitomba' in d

True

1- O que acontece em cada sequência de comandos a seguir?
(d)

In [18]:
#verificando se 'pears' está em 'd'
'pears' in d

False

1- O que acontece em cada sequência de comandos a seguir?
(e)

In [19]:
#deletando "laranjas" da lista
del d['laranjas']

In [20]:
#laranjas está em 'd'
'laranjas' in d

False

In [21]:
#exibir o dicionário na tela
d

{'bananas': 35, 'siriguelas': 12, 'pitomba': 20}

CONCATENAÇÃO E REPETIÇÃO

In [22]:
#criando uma lista
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]

In [23]:
#concatenando duas listas
print([1,2]+[3,4])

[1, 2, 3, 4]

In [24]:
#concatenando duas listas
print(frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [25]:
#repetindo o número 0 quatro vezes na lista
print([0] * 4)

[0, 0, 0, 0]

In [26]:
#repetindo a lsita duas vezes
print([1,2,["oi","tchau"]]*2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]